/* VARIABLES 
========================================== */

:root {
  
  --light: #fefefe;
  --darker-white: #cccccc;

  --dark: #131313;
  --dark1: #161616;
  --darkgray: #202225;
  --gray: #3d3d3d;

  --orange: #e67e22;
  --yellow: #ffc13b;
  --tangerine: #bc3227;
  --blue: #0067ff;

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);    
}

/* GLOBAL STYLING 
========================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--dark1);  
  color: var(--dark);
  position: relative;
  padding-bottom: 3rem;
  /* 3rem is the size o the footer */
  min-height: 100vh;
  /* this makes the content fill the entire space */
}

p {
  line-height: 1.4;
  font-size: 20px;
}

a:link {
  color: var(--light);
  text-decoration: none;
}

a:visited {
  color: var(--light);
}

img {
  max-width: 100%;
  height: auto;
}

#picture {
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-weight: 500;
}

.footer p {
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* NAV BAR 
========================================== */

.nav {
  grid-area: nav;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 1.2em;
}

/* HEADER 
================================================== */

/* EMAIL
================================================== */

.btn {
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  border: none;
}

.btn:hover {
  color: var(--dark);
}

.addMore {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/* NAV BAR
================================================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--dark);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  color: var(--darker-white);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--blue);
}

.header li a:hover:after {
  width: 100%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--dark);
  color: var(--blue);
}

/* LOGO */

.header .logo {
  display: block;
  float: left;  
  height: 103px; 
  margin: -1.173rem -1rem -1.8rem -0.5rem;  
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#linkedin {
  float: right;
  padding: 0.6rem 3.5rem 0.5rem 1rem;
  fill: var(--blue);
}

#email {
  display: inherit;
  float: right;
  padding: 0.7rem 1rem 0.5rem 3.5rem;
  fill: var(--blue);
  background-color: var(--dark);
}

svg {
  transition: 0.3s;
}

#linkedin:hover,
#email:hover {
  opacity: 0.8;
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENU ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--light);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--light);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 233px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav"
    "projects projects support-code support-code"
    "footer footer footer footer";
}

.projects h1,
.support-code h1 {
  padding-bottom: 1.5rem;
  font-weight: 700;
  font-size: 3rem;
  color: #fff;
}

#projects:hover {
  filter: brightness(0.9);
}

#support-code:hover {
  filter: brightness(1);
}

/* PROJECTS
========================================== */

.projects {
  grid-area: projects;
  display: grid;
  background: url(/img/code-timeline/projects.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  position: relative;
  min-height: calc(100vh - 6.2rem);
  filter: brightness(0.7);
  transition: 0.4s;
}

.projects h1,
.support-code h1 {
  font-size: 4em;
  text-shadow: 1px 1px 5px #333;
  color: var(--light);
  font-weight: 700;
  margin-top: -5rem;
}

/* SUPPORT CODE
========================================== */

.support-code {
  grid-area: support-code;
  display: grid;
  background: url(/img/code-timeline/support-code.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  position: relative;
  min-height: calc(100vh - 6.2rem);
  filter: brightness(0.7);
  transition: 0.4s;
}

.btn-more {
  position: absolute;
  background-color: var(--blue);
  text-decoration: none;
  color: var(--light);
  padding: 0.9rem 2rem 1rem 2rem;
  border-radius: 6px;
  margin-top: 10rem;
  transition: 0.3s;
}

.btn-more:hover {
  background-color: var(--orange);
  color: var(--dark);
}

.text-area {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -25%);
}

.text-area {
  text-decoration: none;
}

/* FOOTER
========================================== */

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  bottom: 0;
  width: 100%;
}

.footer p {
  color: var(--darker-white);
  text-align: right;
  padding-right: 3rem;
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }
  .logo {
    float: right;
    padding: 1rem;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    max-height: none;
    float: right;
  }
  .header .menu-icon {
    display: none;
  }
}

/* MOBILE 
 ==================================================*/

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "projects"
      "support-code"
      "footer";
  }

  .header .logo {
    height: 102px; 
    margin-left: -0.75rem;
}

  .btn-more {
    margin-top: 5rem;
  }

  .projects h1 {
    font-size: 3em;
    margin-top: -3rem;
  }

  .support-code h1 {
    margin-top: -3rem;
  }

  .projects {
    grid-area: projects;
    background: url(/img/code-timeline/projects-mini.jpg);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: grid;
    padding: 3rem;
    min-height: calc(100vh - 6.2rem);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.9);
  }

  .support-code {
    grid-area: support-code;
    background: url(/img/code-timeline/support-code-mini.jpg);
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    display: grid;
    padding: 3rem;
    min-height: calc(100vh - 6.2rem);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(1);
  }

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: var(--dark);
    line-height: 44pt;
  }

  .header li a:after {
    height: 0;
  }

  header {
    background-color: var(--dark);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .me {
    min-height: 250px;
    padding: 3rem;
    color: var(--dark);
  }

  .logo {
    padding: 1rem;
  }

  .me img {
    margin-top: 2rem;
    width: 90%;
  }

  .me h1 {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .art {
    margin: 0;
    min-height: 500px;
  }

  .art p {
    font-size: 1.2em;
  }

  h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "projects"
      "support-code"
      "footer";
  }

  .logo {
    font-size: 1.95em;
    margin-left: -0.5rem;
  }

  .me {
    min-height: 250px;
    padding: 1rem;
    color: var(--dark);
  }
  .me img {
    margin-bottom: 2rem;
  }
}

/* NORMALIZE
 ==================================================*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
