/* VARIABLES 
========================================== */

:root {
  --primary: #ddd;
  --dark: #010100;
  --orange: #ec8a2d;
  --light: #fefefe;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
  --hover: rgba(89.4, 87.8, 83.1, 0.7);
  --yellow: #ffc13b; 
  --blue: #0067ff;
  --background-blue: #0098c7;
  --darkgray: #464545;
}

/* GLOBAL STYLING 
========================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--primary);
  color: var(--dark);
  position: relative;
  padding-bottom: 3rem;
  /* 3rem is the size o the footer */
  min-height: 100vh;
  /* this makes the content fill the entire space */
}

a:link {
  color: var(--light);
}

a:visited {
  color: var(--light);
}

img {
  max-width: 100%;
  height: auto;
}

/* NAV BAR 
================================================== */

.nav {
  grid-area: nav;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 1.2em;
  z-index: 9999;
}

/* HEADER 
================================================== */

/* EMAIL ON OVER 
================================================== */

.btn {
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--light);
  border: none;
}

.addMore {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/* NAV BAR
================================================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--light);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  color: var(--dark);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--blue);
  width: 0;
  left: 50%;
  bottom: 0.5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--blue);
}

.header li a:hover:after {
  width: 100%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--light);
  color: var(--blue);
}

/* LOGO */

.header .logo {
  display: block;
  float: left;  
  height: 103px; 
  margin: -1.173rem -1rem -1.8rem -0.5rem;  
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#linkedin {
  float: right;
  padding: 0.6rem 3.5rem 0.5rem 1rem;
  fill: var(--blue);
}

#email {
  display: inherit;
  float: right;
  padding: 0.7rem 1rem 0.5rem 3.5rem;
  fill: var(--blue);
  background-color: var(--light);
}

svg {
  transition: 0.3s;
}

#linkedin:hover,
#email:hover {
  opacity: 0.8;
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENU ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--dark);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--dark);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 233px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    "cards cards cards cards"
    "footer footer footer footer";
}

/* BANNER TITLE
========================================== */

.title h1,
p {
  display: inline-block;
  color: var(--light);
  padding-left: 2rem;
}

.title {
  grid-area: title;
  background-color: var(--yellow);
  margin-top: 0.5rem;
  overflow: hidden;
  height: 4rem;
}

.title h1 {
  padding-left: 2rem;
  font-size: 2.5em;
  margin-top: 0.6rem;
  color: #442f00;
  background-color: var(--yellow);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.title p {
  padding-left: 2rem;
  font-size: 1.3em;
  margin-top: 0.1rem;
  color: #442f00;
  background-color: var(--yellow);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

.content {
  grid-area: cards;
  display: grid;
  text-align: left;
  background-color: var(--light);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* if we have to many boxes we tell the browser to display automaticly depending on the size of the screen */
  padding: 1rem 0.4rem 1rem 0.4rem;
  background-color: var(--primary);
}

/* THIS IS THE BADGE
==================================================  */

.badge {
  position: absolute;
  top: -10px;
  left: 1rem;
  z-index: 2;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));  
}

.text-above-badge {
  position: absolute;
  top: 3px;
  left: 2.1rem;
  z-index: 3;
  color: var(--dark);
  font-weight: 700;
}

.for-hover:hover .text-above-badge { color: var(--light); }

.for-hover:hover .st0 { fill: var(--blue); color: var(--light);}


/* THIS IS THE CARD
==================================================  */

.card {
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--light);
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
}

.card h1 {
  color: var(--dark);
  margin-left: -0.5rem;
  margin-top: 2rem;
  padding-bottom: 1rem;;
  font-size: 1em;
}

.card p {
  color: #888888;
  padding: 1rem 1rem 1rem 1.5rem;
  margin-top: -0.5rem;
  line-height: 1.6;
}

.img {
 border-radius: 5px 5px 0px 0px;
}

#arrange-title {
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  padding-left: 2rem;
  margin-bottom: -1.5rem;
  margin-top: -1rem;
  font-size: 1.5em;
  background-color: var(--light);
}

/* button
========================================== */

.button {
  display: none;
}


/* FOOTER
========================================== */

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  bottom: 0;
  width: 100%;
}

.footer p {
  color: var(--darker-white);
  float: right;
  padding-right: 3rem;
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }

  .logo {
    float: right;
    padding: 1rem;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    max-height: none;
    float: right;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      "cards cards cards cards"
      "footer footer footer footer";
  }
  
  .card {
    justify-content: space-between; /* buttom to absolute bottom */
    flex-direction: column;  
    display: flex;
  }

  .button { 
    display: inline-block;
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;   
    font-size: 0.7em;
    cursor: pointer;
    width: 50%;    
    transform:translateX(50%);
    margin-bottom: 1.5rem;
    margin-top: -0.5rem;  
    border-radius: 5px;  
    justify-content: center; /* buttom to absolute bottom */
    display: flex;
  }
  
  .button:hover { 
  color: var(--dark);
  background-color: var(--light);
  }

  .content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
border
}

.title p {
  display: none;
}

.title {  
  text-align: center;
  margin-left: -2.5rem
}

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: var(--light);
    line-height: 44pt;
  }

  .header li a:after {
    height: 0;
  }

  header {
    background-color: var(--light);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
  }

  .footer p {
    margin-left: -2rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "title"
      "cards"
      "footer";
  }
  .content {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border
  }

  .logo {
    font-size: 1.95em;
    margin-left: -0.5rem;  
   }

}

/* NORMALIZE
 ==================================================*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
