/* VARIABLES 
========================================== */

:root {
  
  --light: #fefefe;
  --darker-white: #cccccc;

  --dark: #131313;
  --dark1: #161616;
  --darkgray: #202225;
  --gray: #3d3d3d;

  --orange: #e67e22;
  --yellow: #ffc13b;
  --tangerine: #bc3227;
  --blue: #0067ff;

  --alinks: #254de3;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);    
}

/* GLOBAL STYLING 
========================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--dark);
  background-color: var(--dark1);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); 
  position: relative;
  padding-bottom: 3rem;
  min-height: 100vh;  
  overflow-x: hidden;
}

a:link {
  color: var(--light);
  text-decoration: none;
}

a:visited {
  color: var(--light);
} 

img {
  max-width: 100%;
  height: auto;
  bottom: 0;
}

/* NAV BAR 
================================================== */

.nav {
  grid-area: nav;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 1.2em;
  z-index: 9999;
}

/* HEADER 
================================================== */

/* EMAIL ON OVER 
================================================== */

.btn {
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--light);
  border: none;
}

.addMore {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/* NAV BAR
================================================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--dark);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  color: var(--darker-white);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--blue);
}

.header li a:hover:after {
  width: 100%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--dark);
  color: var(--blue);
}

/* LOGO */

.header .logo {
  display: block;
  float: left;  
  height: 103px; 
  margin: -1.173rem -1rem -1.8rem -0.5rem;  
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#linkedin {
  float: right;
  padding: 0.6rem 3.5rem 0.5rem 1rem;
  fill: var(--blue);
}

#email {
  display: inherit;
  float: right;
  padding: 0.7rem 1rem 0.5rem 3.5rem;
  fill: var(--blue);
  background-color: var(--dark);
}

svg {
  transition: 0.3s;
}

#linkedin:hover,
#email:hover {
  opacity: 0.8;
} 

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENU ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--light);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--light);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 233px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    "cards cards cards cards"
    "footer footer footer footer";  
}

/* BANNER TITLE
========================================== */

.title h1,
p {
  display: inline-block;
  color: var(--light);
  padding-left: 2rem;
}

.title {
  grid-area: title;
  position: relative;
  background-color: var(--darkgray);
  margin-top: 0.5rem;
  overflow: hidden;
  height: 4rem;
}

.title h1 {
  padding-left: 2rem;
  font-size: 2.5em;
  margin-top: 0.6rem;
  color: var(--darker-white);
  background-color: var(--darkgray);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.title p {
  padding-left: 2rem;
  font-size: 1.3em;
  margin-top: 0.1rem;
  color: var(--darker-white);
  background-color: var(--darkgray);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.content {
  grid-area: cards; 
  display: grid;
  text-align: left;
  background-color: var(--light);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* if we have to many boxes we tell the browser to display automaticly depending on the size of the screen */
  padding: 1rem 0.4rem 1rem 0.4rem;
  background-color: var(--primary);   
}

/* THIS IS THE BADGE
==================================================  */

.badge {
  position: absolute;
  top: -10px;
  left: 1rem;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));  
 }

.text-above-badge {
  position: absolute;
  top: 3px;
  left: 2.1rem;
  z-index: 3;
  color: var(--darker-white);
  font-weight: 700; 
  transition: 0.1s;
 }

.card:hover .st0 {
  fill: var(--blue);
}

.card:hover .text-above-badge {
  color: var(--light);
}

/* THIS IS THE CARD
==================================================  */

img {
  border-radius: 5px;
  margin-bottom: -0.5rem;
 }

.card h1 {
  font-size: 1.5em;
  margin-right: 0.5rem;
}

.cards {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  text-align: left;      
}

.card {
  margin: 0.8rem 0.25rem 0.8rem 0.25rem;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--light);
  transition: 0.3s;  
}

.card p {
  color: var(--dark);
  padding: 1rem;
  margin-top: -0.5rem;
  line-height: 1.6;  
}

.card h1 {
  color: var(--dark);
  text-align: left;
  padding-left: 1rem;
}

.card:hover {
  top: -2px;
  box-shadow: 0 7px 10px rgba(0, 103, 255, 1);  
}

.cards-background {
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--light);
  padding: 1rem;
}

.cards-background p {
  color: var(--dark);
} 

/* button
========================================== */

.button { 
 display: none;
}

/* FOOTER
========================================== */

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  width: 100%;
  bottom:0;
  left:0;
}

.footer p {
  color: var(--darker-white);
  float: right;
  padding-right: 3rem;
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }

  .logo {
    float: right;
    padding: 1rem;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    max-height: none;
    float: right;
  }

  .header .menu-icon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      "cards cards cards cards"
      "footer footer footer footer";
  }

  .header .logo {   
    height: 59px; 
    margin: 0 -1rem -1rem 0.25rem;  
  }

  .button { 
    display: block; 
    display: flex;  
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;   
    font-size: 0.7em;
    cursor: pointer;
    width: 50%;    
    transform: translateX(50%);
    margin-bottom: 1.5rem;
    margin-top: -4.1rem;  
    border-radius: 5px;  
    justify-content: center; /* buttom to absolute bottom */  
  }
  
  .button:hover { 
  color: var(--dark);
  background-color: var(--yellow);
  }

  .cards h1 {
    font-size: 1.5em;
    padding-right: 0.5rem;
   
  }
  
  .card {
    justify-content: space-between; /* buttom to absolute bottom */
    flex-direction: column;  
    display: flex;
  } 

  .content {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border
  }

  .title p {
  display: none;
  }

  .title {  
  text-align: center;
  margin-left: -2.5rem
  }

  .header li a {
  text-align: center;
  display: block;
  /* all area clicable */
  background-color: var(--dark);
  line-height: 44pt;
  }

  .header li a:after {
  height: 0;
  }

  header {
  background-color: var(--dark);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  }

  .footer p {
  margin-left: -2rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "title"
      "cards"
      "footer";
  }
  .content {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border
  }

  .logo {
    font-size: 1.95em;
    margin-left: -0.5rem;  
   }

}


/* NORMALIZE
 ==================================================*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
