/* VARIABLES 
========================================== */

:root {
  
  --light: #fefefe;
  --darker-white: #cccccc;

  --dark: #131313;
  --dark1: #161616;
  --darkgray: #202225;
  --gray: #3d3d3d;

  --orange: #e67e22;
  --yellow: #ffc13b;
  --tangerine: #bc3227;
  --blue: #0067ff;

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);    
}

/* GLOBAL STYLING 
========================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

/* Add scroll-behavior: smooth to the <html> element to enable smooth scrolling for the whole page (note: it is also possible to add it to a specific element/scroll container)  */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--darkgray);
  color: var(--light);
  position: relative;
  padding-bottom: 3rem;
  /* 3rem is the size o the footer */
  min-height: 100vh;
  /* this makes the content fill the entire space */
}

body h4 {
  font-size: 1.3;
}

p {
  line-height: 1.6;
  font-size: 1em;
  color: var(--text);
}

a:link {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue); /* #551a8b;*/
}

.footer p {
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* custom scrool bar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 98, 98, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* NAV BAR 
========================================== */

.nav {
  grid-area: nav;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 1.2em;
}

/* HEADER 
================================================== */

/* EMAIL
================================================== */

.btn {
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--light);
  border: none;
}

.btn:hover {
  color: var(--dark);
}

.addMore {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/* NAV BAR
================================================== */

.header {
  position: fixed;
  min-width: 100vw;
  z-index: 3;
  background-color: var(--dark);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;  
  background-color: var(--dark);
}

.header li a {
  display: inline-block;
  text-decoration: none;
  color: var(--darker-white);
  background-color: var(--dark);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--blue);
}

.header li a:hover:after {
  width: 100%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--dark);
  color: var(--blue);
}

/* LOGO */

.header .logo {
  display: block;
  float: left;  
  height: 86px; 
  margin: -0.9rem -1rem -1rem -0.5rem;  
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#linkedin {
  float: right;
  padding: 0.6rem 3.5rem 0.5rem 1rem;
  fill: var(--blue);
}

#email {
  display: inherit;
  float: right;
  padding: 0.7rem 1rem 0.5rem 3.5rem;
  fill: var(--blue);
  background-color: var(--dark);
}

svg {
  transition: 0.3s;
}

#linkedin:hover,
#email:hover {
  opacity: 0.8;
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENU ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--light);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--light);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 233px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  padding-bottom: 0;
  grid-template-columns: 2.7fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}

.header {
  grid-area: nav;
}

/* THE LIST
========================================== */

.code {
  background-color: #333;
  color: var(--light);
  margin: 1.2rem;
  padding: 5px;
  border: 2px #333 solid;
  font-size: 0.9em;
}

#smCode {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
}

#section-name {
  color: #798874;
  margin: 0.5rem;
  font-size: 0.9rem;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.gist {
  max-height: 350px;
  overflow: auto;
}
/* this will position the Hash Tag Links */
h4::before {
  display: block;
  content: " ";
  margin-top: -180px;
  height: 180px;
  visibility: hidden;
  pointer-events: none;
}

/* the color for the vertical bar before the name of the list */

.color-tools {
  color: green;
}

.color-tutorials {
  color: var(--yellow);
}

.color-books {
  color: red;
}

.nav-link {
  font-weight: 700;
}

/* CONTENT
========================================== */

#main-doc {
  grid-area: main;
  position: absolute;
  margin-left: 250px;
  padding: 0 20px 20px 20px;
  margin-top: 4rem;
  margin-right: 3.3rem;
}

.header-list {
  position: fixed;
  color: var(--darker-white);
  background-color: var(--dark);
  text-align: center;
  font-size: 1em;
  padding: 1rem;
  z-index: 1;
}

#searchbar {
  padding: 0.2rem;
  border-radius: 5px;
}

input[type="text"] {
  width: 203px;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

#navbar {
  color: var(--darker-white);
  background-color: var(--dark);
  min-width: 250px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  margin-top: 3.8rem;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar a {
  color: var(--darker-white);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9em;
}

#navbar li:hover {
  background-color: var(--darkgray);
}

#navbar ul {
  padding-left: 0;
  padding-top: 2.8rem;
  padding-bottom: 6rem;
}

#navbar li {
  padding: 8px;
  list-style: none;
  position: relative;
  width: 100%;
}

article {
  text-align: justify;
}

h4 {
  text-align: left;
  font-size: 1.5em;
  text-decoration: none;
}

/* CARDS */

.cards {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  text-align: center;
}

#svgs {
  margin-top: 1.5rem;
  margin-bottom: -0.5rem;
}

.card {
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--darker-white);
  transition: 0.3s;
}

.card p {
  color: var(--dark);
  padding: 1rem;
  text-align: center;
}

.card:hover {
  top: -2px;
  box-shadow: 0 5px 10px rgba(0, 111, 202, 0.9);
}

.cards-background {
  margin: 0.5rem;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: var(--darker-white);
  padding: 1rem;
}

.cards-background p {
  color: var(--dark);
}

.cards-background h3 {
  color: var(--dark);
}

/*---------------------------------------------- */

@media only screen and (max-width: 830px) {
  #navbar {
    width: 100%;
    max-height: 250px;
    position: relative;
    margin-top: 0.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    z-index: 1;
  }

  .cards {
    display: grid;
    height: auto;
    grid-gap: 0 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    text-align: center;
  }

  /* When the input field gets focus, 
     change its width to 80% */
  input[type="text"]:focus {
    width: 80%;
  }

  .header-list {
    position: relative;
  }

  #navbar ul {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  #main-doc {
    position: absolute;
    top: 20rem;
    margin: auto;
    padding: 0 0.5rem 0.5rem 0.5rem;
    z-index: 0;
  }
}

@media only screen and (max-width: 580px) {
  #main-doc {
    padding: 5px;
    padding-right: 10px;
    margin: auto;
  }
  footer p {
    font-size: 11px;
  }
}

/* FOOTER 
 ==================================================*/

/* BACK TO TOP
========================================== */

#button {
  display: block;
  background-color: #999;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1000;
  opacity: 0.1;
  transition: all 0.3s ease 0s;
}

#button svg {
  margin-top: 0.6rem;
  height: 0.7rem;
}

#button:hover {
  cursor: pointer;
  background-color: var(--blue);
  opacity: 1;
}

/* OTHER MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }
  .logo {
    float: right;
    padding: 1rem;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    max-height: none;
    float: right;
  }
  .header .menu-icon {
    display: none;
  }
}

/* MOBILE 
 ==================================================*/

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "nav"
      "projects"
      "support-code"
      "footer";
  }

  .header .logo {
    height: 82px; 
    margin-left: -0.75rem;
    margin-top: -0.88rem;    
}

  #button {
    display: none;
  }

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: var(--dark);
    line-height: 44pt;
  }

  .header li a:after {
    height: 0;
  }

  header {
    background-color: var(--dark);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .logo {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav"
      "projects"
      "support-code"
      "footer";
  }

  #main-doc {
    display: grid;
    grid-template-columns: repeat(1, minmax(150px, 1fr));
    margin: 0.5rem;
    font-size: 1em;
  }

  .card {
    margin: 0.1rem;
    margin-top: 1rem;
    width: 100%;
  }

  .logo {
    font-size: 1.95em;
    margin-left: -0.5rem;
  }

  .button-tab {
    padding: 1rem 1.1rem;
    display: inline-block;
  }
}

/* NORMALIZE
 ==================================================*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
