/* VARIABLES 
========================================== */

:root {
  
  --light: #fefefe;
  --darker-white: #cccccc;

  --dark: #131313;
  --dark1: #161616;
  --darkgray: #202225;
  --gray: #3d3d3d;

  --orange: #e67e22;
  --yellow: #ffc13b;
  --tangerine: #bc3227;
  --blue: #0067ff;

  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);    
}

/* GLOBAL STYLING 
========================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;  
  color: var(--dark);
  background-color: var(--dark1); 
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  position: relative;
  padding-bottom: 3rem; 
  min-height: 100vh; 
}

a:link {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue);
} 

img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */

.button, .button1 {
  border-radius: 5px;
}

.align-buttons {
  display: flex;
}

.button {
  background-color: var(--blue);
  border: none;
  color: var(--light);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--alinks);
}

.button1 {
  display: flex-end;
  background-color: var(--dark);  
  border: none;
  color: var(--light);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%; 
  transition: 0.3s;
}

.button1:hover {
  background-color: var(--hover);
}

.button p {
  margin: 0 3rem;
  color: var(--light);
}

.button1 p {
  margin: 0 3rem;
  color: var(--light);
}

#svg-in-button {
  padding: 0rem ;
  margin: 0.2rem 0 0 0 ;
  float: left;  
 }

 #svg-in-button1 {
    width: 1.5rem;
    margin: 0.2rem 0 0 0 ;
    float: left;
 }

/* NAV BAR 
================================================== */

.nav {
  grid-area: nav;
  margin-bottom: 2.5rem;  
  font-weight: 700;
  font-size: 1.2em;
  z-index: 10; 
}
/* HEADER 
================================================== */

/* EMAIL ON OVER 
================================================== */

.btn {
  display: inline-block;
  float: right;
  padding: 0;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--light);
  border: none;
}

.addMore {
  border: none;
  width: 32px;
  height: 32px;
  background-color: #eee;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.addMore:hover {
  border: 1px solid #888;
  background-color: #ddd;
}

/* NAV BAR
================================================== */

.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: var(--dark);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); 
  height: 3.75rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  color: var(--darker-white);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: -0.05rem;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--blue);
}

.header li a:hover:after {
  width: 100%;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: var(--dark);
  color: var(--blue);
}

/* LOGO */

.header .logo {
  display: block;
  float: left;  
  height: 103px; 
  margin: -1.173rem -1rem -1.8rem -0.5rem;  
}

.logo:hover {
  opacity: 0.8;
  transition: 0.3s;
}

#linkedin {
  float: right;
  padding: 0.6rem 3.5rem 0.5rem 1rem;
  fill: var(--blue);
}

#email {
  display: inherit;
  float: right;
  padding: 0.7rem 1rem 0.5rem 3.5rem;
  fill: var(--blue);
  background-color: var(--dark);
}

svg {
  transition: 0.3s;
}

#linkedin:hover,
#email:hover {
  opacity: 0.8;
} 

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENU ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: var(--light);
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: var(--light);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 233px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* GRID CONTAINER 
========================================== */

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 2.7fr 0.7fr 1.4fr;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    ". the-article sidebar ."    
    "footer footer footer footer";
}

/* BANNER TITLE
========================================== */

.title {
  grid-area: title;
  position: relative;
  background-color: var(--darkgray);
  margin-top: 1.2rem;
  overflow: hidden;
  height: 4rem;
}

.title h1 {
  padding-left: 2rem;
  font-size: 2.5em;
  margin-top: 0.55rem;
  color: var(--darker-white);
  background-color: var(--darkgray);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.header-mobile {
  display: none;
}

/* SIDEBAR
========================================== */

.sidebar {
  grid-area: sidebar;
  display: grid;  
}

.sidebar img {
  border-radius: 5px 5px 0 0;
}

ul {
  list-style-type: none;
 }

.next-article {
  color: var(--blue);
  float: right;
  font-size: 2em;
  margin-top: -0.9rem;
  margin-right: -0.5rem;
}

.sticky:hover .next-article {
  opacity: 0.8;
} 

/* single article fix */

.next-article-single {
  float: left;
  font-size: 2em;
  margin-top: -0.9rem;
  margin-right: -0.5rem;
}


.next-article1 h3 { 
  float: left;
}

.sticky:hover .next-article1 {
  opacity: 0.8;
} 

.previous-article {
  color: var(--blue);
  float: left;
  font-size: 2em;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
}

.sticky1:hover .previous-article {
  opacity: 0.8;
} 

/* THE CONTENT */

.sticky {
  position: sticky;
  top: 4.7rem;
  margin: -1rem -1rem 1rem -2.5rem;  
}

.sticky1 {
  position: sticky;
  top: 20.7rem;
  margin: 1rem -1rem -1rem -2.5rem;  
}

/* this is for the last article */

.sticky2 {
  position: sticky;
  top: 4.7rem;
  margin: -1rem -1rem 1rem -2.5rem;  
}

.sticky2:hover .previous-article {
  opacity: 0.8;
} 

.sticky2:hover .next-article {
  opacity: 0.8;
} 

#next-article { 
  background-color: var(--darkgray);
  margin: 1rem 0 1rem 1rem;
  height: 240px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0;  
  margin-bottom: 1rem; 
  transition: 0.3s;
  text-align: left;
}

#next-article:hover {   
  box-shadow: 0 7px 10px rgba(0, 103, 255, 1); 
  opacity: 0.8;
}

#next-article h3 {
  margin: 1rem;
  color: var(--darker-light);
}

/* previous article */

#previous-article {  
  background-color: var(--darkgray);  
  margin: 1rem 0 1rem 1rem;
  height: 240px;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px 5px 0 0; 
  text-align: right;
  transition: 0.3s;
}

#previous-article:hover { 
  box-shadow: 0 7px 10px rgba(0, 103, 255, 1); 
  opacity: 0.8;
}

#previous-article h3 {
   margin: 1rem;
   color: var(--darker-light);
}

/* CONTENT
========================================== */

.date {
  color: #778899;
  font-size: 0.9rem;
}

.author {
  display: inline-block;
  margin-bottom: 1rem;
}
.content .author p {
  color: #778899;
  margin-top: 0;
}

.img-author {
  border-radius: 50px;
  width: 50px;
}

.text-author {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.content {
  grid-area: the-article;
  display: grid;
  background-color: var(--darkgray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1.5rem;
}

article p {
  color: var(--darker-white);
  line-height: 1.6;
  text-align: justify;
  font-size: 1.2em;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  color: var(--darker-white);
}

.content h3 {
  color: var(--darker-white);
}

.content img {
  margin-top: 1rem;
}

hr {
  display: none;
}

/* FACEBOOK SHARE BUTTON
========================================== */

#fb-share-button {
  background: #3b5998;
  border-radius: 3px;
  font-weight: 600;
  padding: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: -1.4rem;
  display: block;
  position: static;
  text-align: center;
  font-size: 1.3rem;
  transition: 0.3s;
}

#fb-share-button:hover {
  cursor: pointer;
  background: #213a6f;
}

#fb-share-button svg {
  width: 30px;
  fill: white;
  vertical-align: middle;
  border-radius: 2px;
  float: left;
}

#fb-share-button span p {
  vertical-align: middle;
  color: white;
  font-size: 1em;
  padding: 0 3px;
  margin-right: 3rem;
}

#fb-share-button p {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* NEXT AND PREVIOUS BUTTONS MOBILE
========================================== */

.navigation-previous {
  width: 110px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  color: var(--light);
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  margin: 2rem 0;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.7rem 1rem 0.5rem 0.3rem;  
  transition: 0.3s;
}

.navigation-next {
  width: 90px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  color: var(--light);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.7rem 1.2rem 0.5rem 0.1rem;
  margin-top: 2rem;
}

.navigation-previous:hover,
.navigation-next:hover {
  opacity: 0.8;
  color: var(--dark);
}

.content .navigation-next {
  float: right;
  margin-top: -4.4rem;
  text-align: right;
}

.buttons-pre-next p {
  color: var(--light);
}

/* with this i can have multiple visited links colors on a page */

a.navigation-previous:link {
  color: var(--light);
}

a.navigation-previous:visited {
  color: var(--light);
}

a.navigation-next:link {
  color: var(--light);
}

a.navigation-next:visited {
  color: var(--light);
}

/* NEXT AND PREVIOUS BUTTONS FIX FOR THE 1992 PAGE
========================================== */

.navigation-next1 {
  width: 95px;
  height: 50px;
  background-color: var(--blue);
  border: none;
  color: var(--light);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.7rem 1.2rem 0.5rem 0.1rem;
  margin-top: 2rem;
}

.navigation-next1:hover {
  opacity: 0.8;
  color: var(--dark);
}

.content .navigation-next1 {
  float: right;
  text-align: right;
  transition: 0.3s;
}

a.navigation-next1:link {
  color: var(--light);
}

a.navigation-next1:visited {
  color: var(--light);
}

/* BACK TO TOP
========================================== */

#button {
  position: relative;
  display: inline-block;
  background-color: #999;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 64px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button svg {
  margin-top: 0.6rem; 
  height: 12px;
}

#button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

#button:active {
  background-color: var(--blue);
}

#button.show {
  opacity: 0.8;
  visibility: visible;
}

/* FOOTER
========================================== */

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  bottom: 0;
  width: 100%;  
}

.footer p {
  color: var(--light);
  float: right;
  padding-right: 3rem;
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* MEDIA QUERIES 
 ==================================================*/

/* MENU FOR DESKTOP 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }

  .logo {
    float: right;
    padding: 1rem;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    max-height: none;
    float: right;
  }

  .header .menu-icon {
    display: none;
  }
}

/* LAPTOP WIDTH HiDPI SCREENS
 ==================================================*/

@media (max-width: 1440px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.7fr 2.9fr 0.5fr 0.7fr;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      ". the-article sidebar ."
      "footer footer footer footer";
  }


}

/* LAPTOP WIDTH MDPI SCREENS
 ==================================================*/

@media (max-width: 1280px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.2fr 1fr 0.5fr 0.1fr;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      ". the-article sidebar ."
      "footer footer footer footer";
  }

}

/* VERTICAL 24" SCREENS
 ==================================================*/

@media (max-width: 1080px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.7fr 1.3fr 1.3fr 0.7fr;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      ". the-article the-article ."
      "footer footer footer footer";
  }
  .sidebar {
    display: none;
  }

  .button p {
    padding-left: 1rem;
    margin: 0.2rem 0 0 0.5rem;
    color: var(--light);
    font-size: 0.9em;
   
  }
  
  .button1 p {
    margin: 0.2rem 0 0 0.5rem;
    color: var(--light);
    font-size: 0.9em;
   
  }
  
  #svg-in-button {  
    width: 1.5rem;  
    margin: 0.2rem 0 0 -1.2rem;
    float: left;  
   }
  
   #svg-in-button1 {
      width: 1.3rem;
      margin: 0.2rem 0 0 -1.2rem;
      float: left;
   }
}

/* TABLETS AND MOBILE
 ==================================================*/

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      ". the-article the-article ."
      "footer footer footer footer";
  }

  .header .logo {   
    height: 59px; 
    margin: 0rem -1rem -1rem 0.5rem;  
  }

  .button p {
    margin: 0.3rem 0 0 0.1rem;
    color: var(--light);
    font-size: 0.9em;
   
  }
  
  .button1 p {
    margin: 0.2rem 0 0 0.5rem;
    color: var(--light);
    font-size: 0.9em;
   
  }
  
  #svg-in-button {  
    width: 1.5rem;  
    margin: 0.2rem 0 0 -1.2rem;
    float: left;  
   }
  
   #svg-in-button1 {
      width: 1.3rem;
      margin: 0.2rem 0 0 -1.2rem;
      float: left;
   }

   h4 {
     margin-left: 1rem;
   }


   /* --------------------------------------- */

  .author {
    margin-bottom: 1rem;
  }

  .text-author {
    margin: 6rem 0 0 4rem;
  }

  .text-author {
    position: absolute;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .content h1 {
    font-size: 1.8em;
    margin-bottom: 0.5rem;
  }

  .content h3 {
    margin: 1rem 1rem;    
  }

  .content img {
    margin: 0.5rem 0 0 0;
  }

  #button {
    display: none;
  }

  .title p {
    display: none;
  }

  .title {
    text-align: center;
    margin-left: -2.5rem;
  }

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: var(--dark);
    line-height: 45pt;
  }

  .header li a:after {
    height: 0;
  }

  header {
    background-color: var(--dark);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
  }

  .footer p {
    margin-left: -2rem;
  }
}

  /* IPADS
========================================== */

@media (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 0.3fr 3fr 3fr 0.3fr;
    grid-template-areas:
      "nav nav nav nav"
      "title title title title"
      ". the-article the-article ."
      "footer footer footer footer";
  }
 }

  /* MOBILE
========================================== */

@media (max-width: 750px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "nav"
      "title"
      "the-article"
      "footer";
  }

  /* NEXT AND PREVIOUS BUTTONS FIX 
========================================== */
  .navigation-next1 {
    margin-top: 0rem;
  }

  .navigation-previous {
    margin: 0;
  }

  .navigation-next {
    margin: 0;
  }

  .logo {
    font-size: 1.95em;
    margin-left: -0.5rem;
  }

  .header-mobile {
    display: block;
  }

  .title {
    display: none;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  .content p {
    padding: 0 1rem;
  }

  .content h1 {
    padding: 0 1rem;
    margin-bottom: -0.3rem;
  }

  .date {
    display: none;
  }

  .author {
    display: inline-block;
    margin: -2.2rem 0 -1rem 0.2rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .text-author {
    position: absolute;
    margin-top: 1.2rem;
    margin-left: 0;
  }

  #fb-share-button svg {
    width: 30px;
  }

  #fb-share-button {
    font-size: 1.1em;
    margin: 1rem;
    margin-bottom: 0;
  }

  #fb-share-button p {
    margin-left: 3.5rem;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem;
    padding: 0 1rem;
  }

  .footer p {
    margin-left: -0.5rem;
  }
}

/* this will make the header mobile image go away */

@media (min-width: 420px) {
  .header-mobile {
    display: none;
  }

  .date {
    padding-top: 0.5rem;
  }
}

/* NORMALIZE
 ==================================================*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
